@using Avemepls.Blazor.Common.Menus
@using Avemepls.Blazor.Common.Menus.Providers
@inject IEnumerable<IMenuSectionsProvider> SectionProviders
@inject IAuthenticationService AuthService

<div class="pa-2">
    <MudTextField @bind-Value="_query"
                  Placeholder="Поиск"
                  Adornment="Adornment.Start"
                  AdornmentIcon="@Icons.Material.Filled.Search"
                  Margin="Margin.Dense"
                  Variant="Variant.Outlined"
                  Immediate="true"
                  DebounceInterval="300"
                  OnDebounceIntervalElapsed="OnSearch" />
</div>

<MudNavMenu Class="flex-grow-0">
    @foreach (var menuItem in _queriedMenuItems)
    {
        <AdministrationMenuSection Item="@menuItem" QueryWord="@_query" />
    }
    <MudNavLink OnClick="@(async () => await HandleLogout())" Icon="@Icons.Material.Filled.Logout" IconColor="Color.Error">
        Выйти
    </MudNavLink>
</MudNavMenu>

@code {

    private string? _query;
    private MenuItemModel[] _allMenuItems = [];
    private MenuItemModel[] _queriedMenuItems = [];

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _allMenuItems = SectionProviders
                .SelectMany(p => p.GetMenuItems())
                .GroupBy(x => x.Key, (key, items) =>
                {
                    var firstItem = items.First();
                    return new MenuItemModel(
                        key,
                        firstItem.Title,
                        firstItem.Permission,
                        items.SelectMany(w => w.Children ?? []).ToArray())
                    {
                        Url = firstItem.Url,
                        Icon = firstItem.Icon
                    };
                })
                .ToArray();

            _queriedMenuItems = _allMenuItems;
            StateHasChanged();
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private void OnSearch()
    {
        if (string.IsNullOrEmpty(_query))
        {
            _queriedMenuItems = _allMenuItems;
            return;
        }

        _queriedMenuItems = _allMenuItems
            .Where(x => x.Children is not null)
            .SelectMany(x => x.Children!)
            .Where(x => x.Title.ToLower().Contains(_query.ToLower()))
            .ToArray();
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
    }
}