@typeparam TItem
@typeparam TItemValue
@typeparam TQuery
@inherits AntInputComponentBase<TItemValue>

<div @onclick="OnFocus">
    <Select name="@DomName"
            Id="@Id"
            TItem="TItem"
            TItemValue="TItemValue"
            ItemTemplate="ItemTemplate"
            LabelTemplate="LabelTemplate"
            EnableSearch="@EnableSearch"
            Placeholder="@Placeholder"
            Disabled="@Disabled"
            AllowClear="@AllowClear"
            OnDropdownVisibleChange="@OnDropdownVisibleChange"
            DefaultActiveFirstOption="@DefaultActiveFirstOption"
            DropdownMatchSelectWidth="@DropdownMatchSelectWidth"
            DataSource="Items"
            OnSearch="OnSearch"
            ShowArrowIcon="@ShowArrowIcon"
            SearchDebounceMilliseconds="@BlazorGlobalConfiguration.InputDebounceMilliseconds"
            OnSelectedItemChanged="OnSelectedItemChanged!"
            OnSelectedItemsChanged="@SelectedItemsChanged"
            Mode="@Mode"
            ValueName="@ValueName"
            LabelName="@LabelName"
            Loading="@IsLoading"
            @bind-Value="Value"
            Values="Values"
            ValuesChanged="values => { if(_isInitialized) Values = values?.ToArray(); }"
            Style="width: 100%">
    </Select>
</div>
<style>

    div.ant-select-selection-search {
        min-width: 200px;
    }

</style>