@using System.Security.Principal
@using System.Text.RegularExpressions
@using Avemepls.Blazor.Common.Menus
@using Avemepls.Security.Principal

@if (_hasAccessToMenuSection)
{
    @if (Item.Children is null)
    {
        <MenuItem Key="@(Item.Key)" RouterLink="@(Item.Url)">
            @if (Item.Icon is null)
            {
                if (!string.IsNullOrEmpty(QueryWord) && Item.Title.ToLower().Contains(QueryWord.ToLower()))
                {
                    var parts = Regex.Split(Item.Title, QueryWord, RegexOptions.IgnoreCase);

                    if (string.IsNullOrEmpty(parts[0]))
                    {
                        QueryWord = string.Concat(QueryWord.First().ToString().ToUpper(), QueryWord.AsSpan(1));
                    }

                    <span>
                        @(parts[0])<span style="background-color: lightgreen;">@QueryWord</span>@(parts[1])
                    </span>
                }
                else
                {
                    <span>@Item.Title</span>
                }
            }
            else
            {
                <span>
                    <Icon Type="@(Item.Icon)" Theme="IconThemeType.Outline"/>
                    <span>@Item.Title</span>
                </span>
            }
        </MenuItem>
    }
    else
    {
        <SubMenu Key="@(Item.Key)">
            <TitleTemplate>
                @if (Item.Icon is null)
                {
                    <span>@(Item.Title)</span>
                }
                else
                {
                    <span>
                        <Icon Type="@(Item.Icon)" Theme="IconThemeType.Outline"/>
                        <span>@Item.Title</span>
                    </span>
                }
            </TitleTemplate>
            <ChildContent>
                @foreach (var item in Item.Children)
                {
                    <MenuSection Item="@item"/>
                }
            </ChildContent>
        </SubMenu>
    }
}

@code {

    [Parameter]
    public required MenuItemModel Item { get; set; }

    [Parameter]
    public string? QueryWord { get; set; }

    [Inject]
    public required IPrincipalAccessor PrincipalAccessor { get; set; }

    private bool _hasAccessToMenuSection;

    protected override async Task OnParametersSetAsync()
    {
        var principal = await PrincipalAccessor.GetPrincipal();
        _hasAccessToMenuSection = HasAccessToSection(principal, Item);
    }

    private bool HasAccessToSection(IPrincipal principal, MenuItemModel item)
    {
        if (item.Permission != null)
            return principal.HasPermissions(item.Permission);
        if (item.Children != null && item.Children.Length > 0)
            return item.Children.Any(a => HasAccessToSection(principal, a));

        return true;
    }

}