@page "/login"
@layout AnonymousLayout
@attribute [AllowAnonymous]
@inherits MediatorComponentBase
@using Avemepls.Blazor.Common
@using Avemepls.Blazor.Components
@using Microsoft.AspNetCore.Authorization
@using Schedia.Web.Base.Layouts
@inject ISnackbar Snackbar
@inject IAuthenticationService AuthService

<AuthorizeView>
    <Authorized>
        <RedirectToHome />
    </Authorized>
    <NotAuthorized>
        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center justify-center" Style="min-height: 100vh;">
            <MudCard Style="max-width: 400px; width: 100%; padding: 20px;">
                <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4">@("Вход".Loc(Loc))</MudText>

                <MudForm Model="@_model" @ref="@_form" Validation="@(_authValidator.ValidateValue)">

                    <BaseTextField T="string"
                                   @bind-Value="_model.Username"
                                   For="@(() => _model.Username)"
                                   Label="@("Имя пользователя".Loc(Loc))" />

                    <BaseTextField T="string"
                                   @bind-Value="_model.Password"
                                   For="@(() => _model.Password)"
                                   Label="@("Пароль".Loc(Loc))"
                                   InputType="InputType.Password" />
                </MudForm>

                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <MudAlert Severity="Severity.Error" Class="mb-4">@ErrorMessage</MudAlert>
                }

                @if (!string.IsNullOrEmpty(AdditionalInformationAsWarning))
                {
                    <MudAlert Severity="Severity.Warning" Class="mb-4">@AdditionalInformationAsWarning</MudAlert>
                }

                <MudButton ButtonType="ButtonType.Button"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           FullWidth="true"
                           Disabled="@(_isLoading)"
                           OnClick="@(async () => await HandleLogin())"
                           Class="mb-4">
                    @if (_isLoading)
                    {
                        <MudProgressCircular Size="Size.Small" Indeterminate="true"/>
                        <MudText Class="ml-2">@("Загрузка".Loc(Loc))...</MudText>
                    }
                    else
                    {
                        <text>@("Войти".Loc(Loc))</text>
                    }
                </MudButton>

                <MudStack AlignItems="AlignItems.Center" Spacing="2">
                    <div>@("Еще не зарегистрированы?".Loc(Loc))
                        <MudLink Href="/register" Color="Color.Primary">@("Регистрация".Loc(Loc))</MudLink>
                    </div>
                    <MudLink Href="/forgot-password" Color="Color.Primary">@("Забыли пароль?".Loc(Loc))</MudLink>
                </MudStack>
            </MudCard>
        </MudContainer>
    </NotAuthorized>
</AuthorizeView>

@code {
    private readonly Avemepls.Auth.Domain.ViaPassword.Login.Command _model = new();
    private bool _isLoading;

    [SupplyParameterFromQuery(Name = "returnUrl")]
    public string? ReturnUrl { get; set; }

    private readonly Avemepls.Auth.Domain.ViaPassword.Login.Validator _authValidator = new();

    private MudForm _form = null!;

    protected override Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        ErrorRaised += () => Snackbar.Add("Simple Snackbar");

        return Task.CompletedTask;
    }

    private async Task HandleLogin()
    {
        _isLoading = true;
        await _form.Validate();
        _isLoading = false;

        if (!_form.IsValid)
        {
            return;
        }

        ErrorMessage = "";
        var tokenInformation = await Send(new Avemepls.Auth.Domain.ViaPassword.Login.Command()
        {
            Username = _model.Username,
            Password = _model.Password,
        });

        if (tokenInformation is null)
        {
            return;
        }

        await AuthService.LoginAsync(tokenInformation, ReturnUrl);
    }
}
