@using Blazorade.Core.Components.Server
@using MudBlazor
@using Schedia.Web.Core.Blazor.BlazorAssembliesRegistry
@using Schedia.Web.Shared.Layouts
@using Schedia.Web.Shared.Themes
@inject NavigationManager Navigation

<MudThemeProvider Theme="@SchediaTheme.Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AntContainer/>

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="@BlazorAssembliesRegistry.Assemblies">
    <Found Context="routeData">
        <CascadingValue Value="@routeData.PageType"
                        Name="PageType">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AppLayout)">
                <Authorizing>
                    Авторизация...
                </Authorizing>
                <NotAuthorized>
                    @{
                        var returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
                        Navigation.NavigateTo($"/login?returnUrl={Uri.EscapeDataString("/" + returnUrl)}", forceLoad: false);
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </CascadingValue>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(AppLayout)">
            <p>Страница не найдена...</p>
        </LayoutView>
    </NotFound>
</Router>

<ComponentReconnectModal>
    <ReconnectingTemplate>
        <MudText Align="Align.Center">
            <p>😔 Связь с сервером потеряна. Идёт попытка переподключения...</p>
        </MudText>
    </ReconnectingTemplate>
    <ReconnectFailedTemplate>
        <p>
            Связь с сервером потеряна.
            Попробуйте <a href="javascript:location.reload()">перезагрузить</a> страницу.
        </p>
    </ReconnectFailedTemplate>
    <ReconnectRejectedTemplate>
        <p>
            🛑 Сервер недоступен. Попробуйте <a href="javascript:location.reload()">перезагрузить</a> страницу.
        </p>
    </ReconnectRejectedTemplate>
</ComponentReconnectModal>