@using Avemepls.Blazor.Components
@using Blazorade.Core.Components.Server
@using MudBlazor
@using Microsoft.Extensions.Localization
@using Schedia.Web.Core.Blazor.BlazorAssembliesRegistry
@using Schedia.Web.Shared.Layouts
@using Schedia.Web.Shared.Themes
@inject NavigationManager Navigation
@inject IStringLocalizer<Routes> Loc

<MudThemeProvider Theme="@SchediaTheme.Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AntContainer/>

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="@BlazorAssembliesRegistry.Assemblies">
    <Found Context="routeData">
        <CascadingValue Value="@routeData.PageType"
                        Name="PageType">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AppLayout)">
                <Authorizing>
                    @("Авторизация".Loc(Loc))...
                </Authorizing>
                <NotAuthorized>
                    @{
                        var returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
                        Navigation.NavigateTo($"/login?returnUrl={Uri.EscapeDataString("/" + returnUrl)}", forceLoad: false);
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </CascadingValue>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(AppLayout)">
            <p>@("Страница не найдена".Loc(Loc))...</p>
        </LayoutView>
    </NotFound>
</Router>

<ComponentReconnectModal>
    <ReconnectingTemplate>
        <MudText Align="Align.Center">
            <p>😔 @("Связь с сервером потеряна. Идёт попытка переподключения".Loc(Loc))...</p>
        </MudText>
    </ReconnectingTemplate>
    <ReconnectFailedTemplate>
        <p>
            @("Связь с сервером потеряна".Loc(Loc)).
            @("Попробуйте".Loc(Loc)) <a href="javascript:location.reload()">@("перезагрузить".Loc(Loc))</a> @("страницу".Loc(Loc)).
        </p>
    </ReconnectFailedTemplate>
    <ReconnectRejectedTemplate>
        <p>
            🛑 @("Сервер недоступен".Loc(Loc)). @("Попробуйте".Loc(Loc)) <a href="javascript:location.reload()">@("перезагрузить".Loc(Loc))</a> @("страницу".Loc(Loc)).
        </p>
    </ReconnectRejectedTemplate>
</ComponentReconnectModal>